:root {
  --primary: #50a7b3;
  --secondary: #d6ae56;
  --tertiary: #0c0c0c;
  --light: #e6a45a;
  --dark: #217b7e;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Permanent Marker';
}

html,
body {
  min-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
  
}