@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

body {
    /* Default Font, should inherit all the way down */
    font-family: "Ume P Mincho";
    font-family: "Permanent Marker", cursive;
    background: #2c787e;

    /* Other Styles: */
    background-color: #efefff;
}
